@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;

}
img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
} 
#root {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  transition: all 2s ease;
}
.wrapper {
 color: black;
}
.meta-wrapper {
  z-index: 5;
}
.wrapper .meta-wrapper {
  position: absolute;
  background: linear-gradient(to right, green 5%, transparent 78%);
  padding: 1rem;


}

.wrapper .meta-wrapper .title {
  font-size: 2.5rem;
  font-weight: 600;

  
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    
  from{
      opacity: 0.2;
      transform: translateY(100px);
      filter: blur(20px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}
.wrapper .meta-wrapper .description {
  font-size: 1rem;
  width: 30rem;
  padding: 0.3rem 0rem;
  animation: animate 2s ease-in-out;

}

button {
  outline: 0;
  border: 0;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: 600;
  border-radius: 0.2rem;
  background: lightpink;
  cursor: pointer;
  animation: animate 3s ease-in-out;

}
button:hover {
 background: gray;
}




/* CSS STYLE */

.img-wrapper {
  height: 18rem;
  width: 12rem;
  position: absolute;
  z-index: 1;
  bottom: 0px;



}

.active {
  height: 100%;
    width: 100%;
    left: 0 !important;
    right: 0 !important;

  animation: enlarge 1s ease-in;
    

}

@keyframes enlarge {
  from{  height: 18rem;
    width: 12rem;}
  to{  height: 100%;
    width: 100%;}

}


.first-image {
  transition: 1s;
}



 .timeRunning{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 4px;
  background-color: blue;
  left: 0;
  top: 0;
  animation: runningTime 5s linear 1 forwards;
}

@keyframes runningTime {
  
  from{width: 0%;}
  to{width: 100%;}

}


